@import "keyframes.css";

*::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #f5f5f5;
}

*::-webkit-scrollbar {
    width: 10px;
    background-color: #f5f5f5;
}

*::-webkit-scrollbar-thumb {
    background-color: #fff;
    background-image: -webkit-gradient(
        linear,
        40% 0%,
        75% 84%,
        from(#4d9c41),
        to(#19911d),
        color-stop(0.6, #54de5d)
    );
}

#welcome-background-image {
    background-image: linear-gradient(90deg, #0c4cff36, #6aabffa3),
        url("/public/assets/water-droplets.jpg");
    background-size: 100% 100vh;
}

#main-background-image {
    background-image: linear-gradient(90deg, #00000036, #00ffffa3),
        url("/public/assets/water-droplets.jpg");
    background-size: 100% 100vh;
}

.dark-blue-transparent-background {
    background: #00387fa3;
}

.cursor-hand-hover:hover {
    cursor: pointer;
}

#site-logo {
    border-radius: 50%;
    padding: 0;
    border: 5px solid #39a58d;
    box-shadow: 0px 5px 20px;
}

.rainbow-box-shadow-keyframe {
    animation: rainbowBoxShadowShadow 5s infinite linear;
}

.glass {
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: #ffffff;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background 0.3s, box-shadow 0.3s;
}

.glass-hover:hover {
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.modal-body-snazzy-bg {
    background-image: linear-gradient(90deg, #1280e67a, #1280e67a),
        url("/public/assets/water-droplets.jpg");
    background-size: 100% 100vh;
}

.modal-header-bg-color {
    background: linear-gradient(45deg, black, #00ad8d);
}

.modal-footer-bg-color {
    background: linear-gradient(45deg, #00ad8d, black);
}

.backdrop-blur {
    backdrop-filter: blur(10px);
}
